.contentWrapper {
  position: relative;
  top: 40px;
}

.content {
  overflow: scroll;
  height: 85vh;
}

.closeIcon {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 27px;
  height: 27px;
  padding: 2px;
  opacity: 0.3;
  z-index: 1;
}
.closeIcon:hover {
  opacity: 1;
}
.closeIcon:before,
.closeIcon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: #333;
}
.closeIcon:before {
  transform: rotate(45deg);
}
.closeIcon:after {
  transform: rotate(-45deg);
}
